export(hapassoc, pre.hapassoc)
S3method(anova, hapassoc)
S3method(logLik, hapassoc)
S3method(summary, hapassoc)
S3method(print, summary.hapassoc)
importFrom("stats", "binomial", "contrasts", "dbinom", "dgamma",
             "dnorm", "dpois", "formula", "glm", "glm.control",
             "model.frame", "model.matrix", "na.omit", "pchisq")
importFrom("utils", "tail")
useDynLib(hapassoc, .registration = TRUE)
